/** Solarized color theme from http://ethanschoonover.com/solarized */

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($heading_accent, $link_accent) {
    a, a:active, a:visited, code.url { color: $link_accent; }
    h1,h2,h3,h4,h5,h6 {color:$heading_accent}
}

/* light is default mode, so pair with general html definition */
html, .light { 
    @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
    @include accentize($yellow, $blue);
}

.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}

html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

/** 

/** My modifications. */

body {
    font-family: Garamond, Georgia, serif;
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
}

div.main {
    margin-left: 20%;
    margin-right: 20%;
}

section {
    border-style: solid none;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0em;
}

div.highlight pre {

    margin-left: 3em;
}

.rethorical {
    font-style: italic;
    font-weight: bold;
}

.eigenname {
    font-style: italic;
}

code {
    font-family: Courier New;
}

aside {
    background-color: #eee8d5;
    border-style: solid;
    border-color: $yellow;
    border-width: 1px;

    padding: .5em;
    margin: 2em 4em;
}

aside {

}

aside pre.prettyprint {
    background-color: $base2;
    border-color: $base2;
}


/** Mod to have sections in their own bubbles */

html, body, .light {
    background-color: $base2;
}

header, section, footer {
    border-radius: 30px;
    background-color: $base3;
    border: none;
    padding: 2em;
    margin: 2em 0em;
}

