<!DOCTYPE HTML>
<html class="light blue">
<head>
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="css/lib/normalize.css"/>
<link rel="stylesheet" type="text/css" href="css/lib/prettify.css"/>
<link rel="stylesheet" type="text/css" href="css/site.css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="js/lib/prettify.js"></script>
<script src="js/site.js"></script>
</head>
<body>

  <div id="main" class="main">

{{ content }}

  </div>

</body>
</html>
